<div>
    <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-6 bg-white p-6 space-y-2 md:space-y-0">
        <div class="relative sm:col-span-2 md:col-span-3 lg:col-span-2">
            <input
                type="text"
                placeholder="Ingresa Nombre Usuario"
                [(ngModel)]="username"
                [ngModelOptions]="{standalone: true}"
                class="block w-full px-8 py-2 border border-gray-300 placeholder-gray-500 text-gray-800 shadow-sm rounded-md focus:outline-none focus:ring-gray-500 focus:border-gray-500 focus:z-10 sm:text-sm"
            />
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="absolute left-3 bottom-3 h-4 w-4 text-gray-500">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
        </div>

        <button (click)="searchUserRepos()" class="bg-indigo-500 text-white text-xs font-semibold py-2 rounded-md border-0">Consultar Información</button>
    </div>

    <div class="shadow overflow-hidden border border-gray-200 sm:rounded-lg m-6">
  
          <table class="w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                  <tr>
                    <th class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Creador
                    </th>
                    <th class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Nombre
                    </th>
                    <th class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Fecha Creación
                    </th>
                  </tr>
              </thead>
              <tbody class="bg-white text-xs divide-y divide-gray-200">
                  <tr *ngFor="let repository of repositories">
                    <td class="px-2 py-4 whitespace-nowrap">{{repository.owner.login}}</td>
                    <td class="px-2 py-4 whitespace-nowrap">{{repository.name}}</td>
                    <td class="px-2 py-4 whitespace-nowrap">{{repository.created_at | date:'dd/MM/yyy'}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>