<div class="grid grid-cols-1">
    <div>
        <h1 class="text-center text-gray-600 font-bold text-2xl sm:text-4xl my-20">
            Luuna-Tech Github APIs
        </h1>
    </div>
</div>
<!-- Children views -->
<router-outlet></router-outlet>