<div class="flex">
  <div class="sm:1/4 md:w-2/12 md:block hidden min-h-screen">
    <!-- Vista compartida -->
    <app-sidebar [user]='user'></app-sidebar>
  </div>
  <div class="sm:3/4 md:w-10/12 w-full">
    <div class="md:container md:mx-auto">
      <!-- Children views -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>